html, body {
	width:100%;
    margin: 0;	
    padding: 0;
	margin-top:80px;
background-image: url("uefablack.jpg");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size:16px;
	}

.ham {
	
 	margin-left:90px;
  /* always keep ham on top of everything */
  z-index: 1000;	
  margin-top: 50px;  
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
    /* show the menu image */
  background-image: url("../3barmenu.png");
	background-repeat:no-repeat;
    background-size:100% 100%;
	position:fixed;
	
}

.ham:focus{
    outline: none;
}

.showClose {
  background-image: url("../blackcross.png");
	background-repeat:no-repeat;
    background-size:100% 100%;
	width: 60px;
  height: 60px;
	margin-top: 60px; 
	margin-left:100px;
	z-index:500;
	position:fixed;
}


.navbar {
	position:fixed;
   margin-top: 185px;
  background: #1a1a1a;
	margin-left:400px;
  width: 650px;	
  height: auto;
	z-index:200;		
	margin-bottom:0px;		

  /* hide the menu above the screen by default */
  transform: translateX(20%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateX(-100%);
}

.navbar ul {		
margin-bottom:0px;
		margin-top:0px;
	padding-top:0px;
	margin-left:0px;
}

.navbar li {
	font-size:4em;
	text-decoration:none;
	padding-bottom:10px;
	padding-top:10px;
	list-style-type: none;
	text-align:left;
	margin-left:0px;
}


.navbar li a:hover {
	color:#b3ccff;
}

.navbar li a {
	text-decoration:none;
	color:  white; 
	font-family: lato, "open sans condensed", sans-serif;
	
}

@font-face {
        font-family: "Lato";
        src: url('698242188-Lato-Bla.eot');
        src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}


#menu {
	position:absolute;
display: flex;
width:100%;	
	top:-10px;
background-color:#1a1a1a;
justify-content:space-between;
	color:#1a1a1a;
flex-wrap:nowrap;
flex: 1 1 auto;
	height:180px;		
	z-index:1;
	margin-bottom:0px;
	border-bottom: 2px solid grey;
	
}


.box {
display:flex;	
}

.box1 {	
	width:20%;
}

.box2  {
	width: 80%;
	margin-top:40px;	
	}
	

	

	


	
h2 {
	  font-size: 50px;  	
	color:white;	
	}



.nav-colored { opacity:100%;}

.nav-transparent { opacity:80%;}

.lighttxt{ color:#cce0ff;}

.darktxt { color:black;}

.footer {	
		padding-top: 10px;	
	   margin-top: 0px;	
		height: 200px;	
		width: 100%;	
      background-color: #000033;
	  text-align: center;
		color:#f2f2f2;
	font-size:1.5em;
     }
		
.prefoot {	
			
	 
		height: 25px;	
		width: 100%;	
      background-color: #989898;
		margin-bottom:0px;
	margin-top:0px;
     }	

.endarrow {
	float:right;
	color:  white; 	
	
	}

.epslhead {
	padding-top:0px;
	padding-left:20px;
	 height:110px;
	width:600px;
}

/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	.navbar li {
		font-size:2vw;
	}
	
	.navbar {
		width:450px;
	}
	#menu {
		height:90px;
		margin-bottom:-150px;
	}
	
.epslhead {
	
	 height:60px;
	width:600px;
	margin-top:0px;
	
}	
 
	.ham {
		height:60px;
		width:50px;
		margin-top:0px;
	}
	
	.showClose {
		hieght:40px;
		width:40px;
		margin-top:0px;
	}
}
	
	
