html, body {
    margin: 0;
    padding: 0;
background-image: url("eurbak3.png");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}

.ham {
  
  /* always keep ham on top of everything */
  z-index: 1000;
	position:absolute;
  margin-top: 0px;
  margin-left: 20px;
  width: 56px;
  height: 56px;
  border: none;
  cursor: pointer;
  background-color: white;
  /* show the menu image */
  background-image: url("/menunav.png");
  background-size: 100%;
}

.showClose {
  background-image: url("/cross.png");	
}

.navbar {
	position:absolute;
   margin-top: 80px;
margin-left: 0px;
  background: black;
  width: 400px;
	padding-right:50px;
  height: 1000px;
padding-top:10px;

  color: white;
  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateX(0);
}

.navbar ul {
	margin-top:50px;
}

.navbar li {
	font-size:4em;
	text-decoration:none;
	padding-bottom:15px;
	list-style-type: none;
}

.navbar li a {
	text-decoration:none;
	color:white;
	
}
	


#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color: black;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;	
	border-bottom: 2px solid white;
}


.box {
display:flex;	
}


.box3  {
width:25%;
	margin-right:20px;	
	}
	
.box2  {
	width: 50%;
	margin-left:400px;
	}
	
	
.box1 {	
	width:25%;
}


	
h2 {
	  font-size: 38px;  	
	color:white;
	
	}

	
.logo:hover {	
	opacity: 0.5;
	}	

.logo  {
	margin-top:20px;
}


/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	
 
}
	
}	
	
