html, body {
    margin: 0;
    padding: 0;
background-image: url("eurbak3.png");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}
	

.dropdown .dropbtn{
  font-size: 28px;  
  border: none;
  outline: none;
  color: white;
  background:black; 
	padding-left:20px;
	padding-top:-10px;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #000033;;
	color: white;
  }

.dropdown-content {
  display: none;
  position: absolute;
	top:115px;
  background-color: #000033;
	padding-right:20px;
}

.dropdown-content a {
    color: silver;
  padding: 15px 10px;
	font-size: 62px; 
  text-decoration: none;
  display: block;
  text-align: left;
	}

.dropdown-content a:hover {
  background-color: black;
	
}

	
.dropdown:hover .dropdown-content {
  display: block;
}

#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color: black;
align-items:center;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;	
}


.box {
display:flex;	
}

.box4 {
width:51%;
}

.box3  {
width:12%;
	
	}
	
.box2  {
	width: 5%;
	}
	
.box5  {
	width:20%;
	}
	
.box6  {
	width:5%;
	}
	
.box1 {
	
	width:8%;
}


	
h2 {
	  font-size: 38px;  	
	color:white;
	
	}

.pesfc {
	margin-top:20px;
}
	
.logo:hover {	
	opacity: 0.5;
	}	

.material-icons.md-36 { font-size: 63px; }


/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	.dropdown-content a {  
	font-size: 42px; 
  
}
}	
	
