html, body {
    margin: 0;	
    padding: 0;
	margin-top:80px;
background-image: url("uefablack.jpg");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}

.ham {
  
  /* always keep ham on top of everything */
  z-index: 1000;
	position:absolute;
  margin-top: 45px;
  margin-right:40px;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
    /* show the menu image */
  background-image: url("../menunavbla.png");
	background-size:100%;
}

.ham:focus{
    outline: none;
}

.showClose {
  background-image: url("../crossnav.png");
	background-size:100%;
	width: 55px;
  height: 55px;
	margin-top: 70px;
  margin-right: 35px;
	z-index:500;
}




.navbar {
	position:absolute;
   margin-top: 180px;
margin-left: 0px;
  background: #0d0d0d;
  width: 650px;	
  height: auto;
	z-index:200;		
	margin-bottom:0px;	
	border-bottom: 1px solid grey;	

  /* hide the menu above the screen by default */
  transform: translateX(+110%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateX(-110%);
}

.navbar ul {		
margin-bottom:0px;
		margin-top:0px;
	padding-top:0px;	
}

.navbar li {
	font-size:4em;
	text-decoration:none;
	padding-bottom:10px;
	padding-top:10px;
	list-style-type: none;
	text-align:left;
	border-top: 1px solid white;
}


.navbar li a {
	text-decoration:none;
	color:  white; 
}
	


#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color:black;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:180px;		
	z-index:1;
	margin-bottom:0px;
	border-bottom: 2px solid grey;
	
}


.box {
display:flex;	
}

.box1 {	
	width:15%;
}

.box2  {
	width: 85%;
	margin-top:40px;
	margin-left:20px;
	}
	
.box3  {
width:0%;
	margin-right:0px;
	}
	

	


	
h2 {
	  font-size: 50px;  	
	color:white;
	
	}

	
.logo:hover {	
	opacity: 0.5;
	}	

.logo  {
	margin-top:65px;
	box-shadow: -4px 4px black;
}

.nav-colored { opacity:100%;}

.nav-transparent { opacity:60%;}

.lighttxt{ color:#cce0ff;}

.darktxt { color:black;}

.footer {	
		padding-top: 10px;	
	   margin-top: 0px;	
		height: 200px;	
		width: 100%;	
      background-color: #000033;
	  text-align: center;
		color:#f2f2f2;
     }
		
.prefoot {	
			
	 
		height: 50px;	
		width: 100%;	
      background-color: #989898;
		margin-bottom:0px;
	margin-top:0px;
     }	

.endarrow {
	float:right;
	color:  white; 	
	
	}

.epslhead {
	padding-top:0px;
	padding-left:30px;
}

/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	
 
}
	
}	
	
