
	html, body {
    margin: 0;
    padding: 0;
background-image: url("eurbak3.png");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}
	

.dropdown .dropbtn{
  font-size: 28px;  
  border: none;
  outline: none;
  color: white;
  background:black; 
	padding-left:20px;
	padding-top:-10px;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: black;
	color:gold;
  }

.dropdown-content {
  display: none;
  position: absolute;
	top:100px;
  background-color: #0d0d0d;
	padding-right:50px;
}

.dropdown-content a {
    color: gold;
  padding: 15px 10px;
	font-size: 30px; 
  text-decoration: none;
  display: block;
  text-align: left;
	
	
}

.dropdown-content a:hover {
  background-color: #303030;
	
}

	
.dropdown:hover .dropdown-content {
  display: block;
}

#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color: black;
align-items:center;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;
	border-bottom: 1px solid gold;
}


.box {
display:flex;	
}

.box4 {
width:46%;
}

.box3  {
width:17%;
	
	}
	
.box2  {
	width: 10%;
	}
	
.box5  {
	width:20%;
	}
	
.box6  {
	width:1%;
	}
	
.box1 {
	
	width:8%;
}


	
h2 {
	  font-size: 32px;  	
	color:white;
	
	}

.pesfc {
	margin-top:20px;
}
	

.material-icons.md-36 { font-size: 63px; }
