html, body {
    margin: 0;
    padding: 0;
background-image: url("eurbak3.png");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}

.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 20px;
  left: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: white;
  /* show the menu image */
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}

.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateX(0);
}


#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color: black;
align-items:center;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;	
	border-bottom: 2px solid white;
}


.box {
display:flex;	
}

.box4 {
width:51%;
}

.box3  {
width:15%;
	padding-top:15px;
	
	}
	
.box2  {
	width: 5%;
	}
	
.box5  {
	width:20%;
	}
	

	
.box1 {
	
	width:15%;
}


	
h2 {
	  font-size: 38px;  	
	color:white;
	
	}

.pesfc {
	margin-top:20px;
}
	
.logo:hover {	
	opacity: 0.5;
	}	

.material-icons.md-36 { font-size: 63px; }


/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	.dropdown-content a {  
	font-size: 32px; 
  
}
	
.dropdown-content {
	top:15px;
 
}
	
}	
	
