html, body {
    margin: 0;
    padding: 0;
background-image: url("eurbak3.png");
		  background-size: cover;
		background-position: center;
		  background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	color: white;
	}

.ham {
  
  /* always keep ham on top of everything */
  z-index: 1000;
	position:absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  height: 80px;
  border: none;
  cursor: pointer;
    /* show the menu image */
  background-image: url("/menunav.png");
	background-size:100%;
}

.ham:focus{
    outline: none;
}

.showClose {
  background-image: url("/cross.png");	
}

.navbar {
	position:absolute;
   margin-top: 140px;
margin-left: 0px;
  background: black;
  width: 400px;
	padding-right:50px;
  height: 900px;
padding-top:10px;
	z-index:200;

  color: white;
  /* hide the menu above the screen by default */
  transform: translateX(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.showNav {
  /* show the menu */
  transform: translateX(0);
}

.navbar ul {
	margin-top:20px;
}

.navbar li {
	font-size:4em;
	text-decoration:none;
	padding-bottom:20px;
	list-style-type: none;
}

.navbar li a {
	text-decoration:none;
	color:white;	
}
	


#menu {
display: flex;
width:110%;
	margin-left:-10px;
	top:-10px;
background-color: black;
justify-content:space-between;
	color:black;
flex-wrap:nowrap;
flex: 1 1 auto;
	position:fixed;
	height:120px;
	bottom:140px;	
	z-index:1;	
	border-bottom: 2px solid white;
}


.box {
display:flex;	
}

.box1 {	
	width:20%;
}

.box2  {
	width: 60%;
	margin-top:10px;
	}
	
.box3  {
width:20%;
	margin-right:20px;	
	}
	

	


	
h2 {
	  font-size: 38px;  	
	color:white;
	
	}

	
.logo:hover {	
	opacity: 0.5;
	}	

.logo  {
	margin-top:40px;
}

.nav-colored { opacity:100%;}

.nav-transparent { opacity:50%;}



/* Below code to scale website for wider desktop screens */		


@media(min-width: 1000px)  {
	
	
 
}
	
}	
	
