#nav {
background-color:#5F9EA0;
width: 100%;
	position:relative;
	color:black;
Top: -30px;
	font-family: colo-pro;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	text-align:center;
		}
    
    
    #horizontal li {
	display:inline;
			font-size:170%;	
	padding-right:20px;
		
	text-align:center;
	}
	
	
 
 a.one:link {
  color: #595959;
  text-decoration:none;
	  font-weight: none;
 }
a.one:visited {
 color: #595959;
 text-decoration:none;
	 font-weight: none;
 } 
  a.one:hover {
  color:#595959;
  text-decoration:underline;
	   font-weight: none;
 } 
 a.current:visited {
  color:black;	
  text-decoration:underline;
	   font-weight: bold;
	
	 
 }


.footer {	
    padding-top: 10px;	
	   margin-top: 40px;	
 height: 30px;	
   width: 100%;	
      background-color:CFB53B;
	  text-align: center;
    }
